/bin/Debug/netcoreapp3.1/ACS.Web.deps.json
/bin/Debug/netcoreapp3.1/ACS.Web.dll
/bin/Debug/netcoreapp3.1/ACS.Web.exe
/bin/Debug/netcoreapp3.1/ACS.Web.pdb
/bin/Debug/netcoreapp3.1/ACS.Web.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/ACS.Web.runtimeconfig.json
/bin/Debug/netcoreapp3.1/ACS.Web.StaticWebAssets.xml
/bin/Debug/netcoreapp3.1/ACS.Web.Views.dll
/bin/Debug/netcoreapp3.1/ACS.Web.Views.pdb
/bin/Debug/netcoreapp3.1/appsettings.Development.json
/bin/Debug/netcoreapp3.1/appsettings.json
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Embedded.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/bin/Debug/netcoreapp3.1/Properties/serviceDependencies.json
/bin/Debug/netcoreapp3.1/Properties/serviceDependencies.local.json
/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/obj/ACS.Web.csproj.nuget.dgspec.json
/obj/ACS.Web.csproj.nuget.g.props
/obj/ACS.Web.csproj.nuget.g.targets
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/obj/Debug/netcoreapp3.1/ACS.Web.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/ACS.Web.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/ACS.Web.assets.cache
/obj/Debug/netcoreapp3.1/ACS.Web.csproj.CopyComplete
/obj/Debug/netcoreapp3.1/ACS.Web.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/ACS.Web.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/ACS.Web.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/ACS.Web.dll
/obj/Debug/netcoreapp3.1/ACS.Web.exe
/obj/Debug/netcoreapp3.1/ACS.Web.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/ACS.Web.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/ACS.Web.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/ACS.Web.pdb
/obj/Debug/netcoreapp3.1/ACS.Web.RazorAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/ACS.Web.RazorAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/ACS.Web.RazorCoreGenerate.cache
/obj/Debug/netcoreapp3.1/ACS.Web.RazorTargetAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/ACS.Web.RazorTargetAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/ACS.Web.TagHelpers.input.cache
/obj/Debug/netcoreapp3.1/ACS.Web.TagHelpers.output.cache
/obj/Debug/netcoreapp3.1/ACS.Web.Views.dll
/obj/Debug/netcoreapp3.1/ACS.Web.Views.pdb
/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/obj/Debug/netcoreapp3.1/staticwebassets/ACS.Web.StaticWebAssets.Manifest.cache
/obj/Debug/netcoreapp3.1/staticwebassets/ACS.Web.StaticWebAssets.xml
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/ACS.Web/v16/.suo
/bin/Debug/netcoreapp3.1/appsettings.Production.json
/bin/Debug/netcoreapp3.1/ASC.Web.deps.json
/bin/Debug/netcoreapp3.1/ASC.Web.dll
/bin/Debug/netcoreapp3.1/ASC.Web.exe
/bin/Debug/netcoreapp3.1/ASC.Web.pdb
/bin/Debug/netcoreapp3.1/ASC.Web.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/ASC.Web.runtimeconfig.json
/bin/Debug/netcoreapp3.1/ASC.Web.StaticWebAssets.xml
/bin/Debug/netcoreapp3.1/ASC.Web.Views.dll
/bin/Debug/netcoreapp3.1/ASC.Web.Views.pdb
/obj/Debug/netcoreapp3.1/ASC.Web.csproj.CopyComplete
/obj/Debug/netcoreapp3.1/ASC.Web.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/ASC.Web.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/ASC.Web.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/ASC.Web.dll
/obj/Debug/netcoreapp3.1/ASC.Web.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/ASC.Web.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/ASC.Web.pdb
/obj/Debug/netcoreapp3.1/ASC.Web.Views.dll
/obj/Debug/netcoreapp3.1/ASC.Web.Views.pdb
/obj/Debug/netcoreapp3.1/staticwebassets/ASC.Web.StaticWebAssets.Manifest.cache
/obj/Debug/netcoreapp3.1/staticwebassets/ASC.Web.StaticWebAssets.xml
/.vs/ASC.Application/config/applicationhost.config
/.vs/ASC.Application/v16/.suo
/obj/Debug/netcoreapp3.1/ASC.Web.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/ASC.Web.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/ASC.Web.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/ASC.Web.dll
/obj/Debug/netcoreapp3.1/ASC.Web.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/ASC.Web.pdb
